@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


*{
    margin: 0;
    padding: 0;
    
}


.songs-list-form{
    margin: 10%;
}

.songs-list-form h1 {
    font-family: 'Shadows Into Light', cursive;
}